<!DOCTYPE html>
<head>
    <title>
    NODE JS
</title>
</head>
<body>
     <header>My Friends/Enemies:</header>
     <p>{{screamit welcome}}</p>
     <a href="/">Click here to visit homepage</a>
<p>{{currentYear}}</p>
</body>